body{
  font-family: Tahoma, sans-serif;
}

  .headerGroup{
    position: relative;
    background-color: #514A9D;
    border-color: #3498db;

    /* CROSS BROWSERS */
    /* Para browsers que não suportam gradientes */
    /* Ver Prefixr CSS */
    background: -webkit-linear-gradient(90deg, #24C6DC 10%, #514A9D 90%); /* Para Safari 5.1 até 6.0 */
    background: -o-linear-gradient(90deg, #24C6DC 10%, #514A9D 90%); /* Para Opera 11.1 até 12.0 */
    background: -moz-linear-gradient(90deg, #24C6DC 10%, #514A9D 90%); /* Para Firefox 3.6 até 15 */
    background: linear-gradient(90deg, #24C6DC 10%, #514A9D 90%); /* Sintaxe Standard (pode ser a última) */

    margin-top: -5px;
    min-height: 50px;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .headerGroup a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 2pt;
  }
  .menuHeader{
    float: right;
    margin-right: 10%;
  }

  .menuHeader li{
    display: inline;
    padding: 10px;
  }

  .tit01{
    margin-top: 10px;
    margin-left: 10%;
    font-size: 15pt;
    position: absolute;
  }
